
<zf-modal id="scheduler" class="collapse">

    <div class="grid-block vertical">
        <div class="primary title-bar">
            <span class="title left">Schedule Mek</span>
            <span zf-close="" class="right"><a><img zf-iconic="" icon="circle-x" size="small"></a></span>
        </div>
        <div class="grid-content">
            <div class="grid-block">
                <div class="grid-content">
                    <div class="card">
                        <div class="card-section">
                            <h4>Vehicle</h4>
                            <ul class="no-bullet">
                                <li>2007</li>
                                <li>VW Golf</li>
                                <li>Silver</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="grid-content">
                    <div class="card">
                        <div class="card-section">
                            <h4>Parts</h4>
                            <ul class="no-bullet">
                                <li>Brake pads (4)</li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-section">
                            <h4>Labour</h4>
                            <ul class="no-bullet">
                                <li>2.5 hrs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
			<form>
				<input type="text" placeholder="Days">
				<input type="text" placeholder="Hours">
				<textarea rows="6" placeholder="Note"></textarea>
				<p>
					<a class="medium button success" zf-close="" zf-open="scheduler-notify"><img zf-iconic="" icon="circle-check" size="small">Schedule Mech</a>
				</p>
			</form>
		</div>
	</div>

</zf-modal>
