
.top-margin {
	margin-top: 2%;
}
.left-pad {
  padding-left: 5%;
}

.custom-accordion-title {
  @include accordion-title(
    $background: #F2F6F6, // Default background
    $background-hover: #DADDDD, // Background on hover
    $background-active: #535555, // Background when active
    $color: white, // Default color
    $color-active: yellow, // Color when active
    $padding: 1rem
  );
}

// This is an individual tab
.custom-tabs-item {
  @include tabstrip-item(
    $background: #F2F6F6 !important, // Background color
    $background-hover: #999B9B !important, // Background color on hover
    $background-active: #D5E3FF !important, // Background color when active
    $color: #000, // Text color
    $color-active: #000, // Text color when active
    $padding: 1rem
  );
}
