
<zf-modal id="map" class="collapse">
	<div class="grid-block vertical">
		<div class="primary title-bar">
			<span class="title left">Location</span>
			<span zf-close="" class="right"><a><img zf-iconic="" icon="circle-x" size="small"></a></span>
		</div>
		<div class="grid-content">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.037138112261!2d-114.066115!3d50.92302999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371769aa3b7a2e3%3A0x70ab2bd3c5187188!2s14564+Bannister+Rd+SE%2C+Calgary%2C+AB+T2X+1Z4!5e0!3m2!1sen!2sca!4v1442289047483" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</zf-modal>
