---
name: coordinator
url: /coordinator
controller: ServiceCoordinatorController
animationIn: slideInRight
animationOut: slideOutLeftt
---

<div class="grid-container">

    <div class="grid-block">
        <div class="grid-content">
            <h3>My Work Orders</h3>
        </div>
    </div>

    <div class="grid-block">
        <div class="grid-content medium-6 large-4">
            <div class="card success" ui-sref="work_orders_open">
                <div id="chart_div_for_open_work_orders"></div>
                <div class="card-divider">
                    Open
                </div>
                <div class="card-section">
                    <p>Work Orders started but still needing parts and/or labour estimates</p>
                    <p class="show-for-large">Hover your mouse over the chart for details</p>
                    <p>Click here to drilldown into further details and take action</p>
                </div>
            </div>
        </div>

        <div class="grid-content medium-6 large-4">
            <div class="card warning" ui-sref="work_orders_estimated">
                <div id="chart_div_for_estimated_work_orders"></div>
                <div class="card-divider">
                    Estimated
                </div>
                <div class="card-section">
                    <p>Work Orders estimated but still needing scheduling and/or assignment to a Mech</p>
                    <p class="show-for-large">Hover your mouse over the chart for details</p>
                    <p>Click here to drilldown into further details and take action</p>
                </div>
            </div>
        </div>

        <div class="grid-content medium-6 large-4">
            <div class="card alert">
                <div id="chart_div_for_scheduled_work_orders"></div>
                <div class="card-divider">
                    Scheduled
                </div>
                <div class="card-section">
                    <p>Work Orders scheduled but still needing assignment to a Mech</p>
                    <p class="show-for-large">Hover your mouse over the chart for <strong>details</strong></p>
                    <p ui-sref="coordinator.work_orders_scheduled" zf-open="scheduled-work-orders-opened-notify">Click here to <strong>drilldown into further details and take action</strong></p>
                </div>
            </div>
        </div>

    </div>
    <hr>
</div>

<!-- detail view -->
<div ui-view></div>


<zf-notification-static id="scheduled-work-orders-opened-notify" title="Details provided" position="bottom-right" autoclose="5000">
    <p>Scroll down to view more details and take action</p>
</zf-notification-static>
