---
name: home
url: /
---

<div class="grid-content medium-8">
  <h4>This app demos some possible backoffice workflows to help iMech run smoothly</h4>
    <h4>To get started just click on any item in the top bar</h4>

    <div class="card medium-6">
        <div class="card-divider">
            <h3>Possible workflow steps</h3>
        </div>
        <div class="card-section">
            <section class="block-list">
                <ul>
                    <li>
                        <ul class="left-pad">
                            <li><strong>New</strong>: New Work Order</li>
                            <li><strong>Estimated</strong>: Part(s) & Labour estimated</li>
                            <li><strong>Authorized</strong>: Go-ahead received from Customer</li>
                            <li><strong>Scheduled</strong>: Vehicle, parts and labour scheduled to be completed</li>
                            <li><strong>Started</strong>: Work incomplete</li>
                            <li><strong>Finished</strong>: Work complete</li>
                            <li><strong>Billed</strong>: Customer billed</li>
                            <li><strong>Paid</strong>: iMech paid</li>
                        </ul></li>
                </ul>
            </section>
        </div>
    </div>
</div>
