---
name: home
url: /
---

<div class="grid-content medium-8">
  <h4>This app demos some possible backoffice workflows to help iMech run smoothly</h4>
    <h4>To get started just click on any item in the top bar</h4>

    <div class="card medium-4">
        <div class="card-divider">
            TODO
        </div>
        <div class="card-section">
            <section class="block-list">
                <ul>
                    <li>List workflow examples</li>
                </ul>
            </section>
        </div>
    </div>
</div>
