---
name: newWorkOrder
url: /new-work-order
---

<div class="grid-container medium-10 align-center">
    <h2>Complete the work order request:</h2>
    <form class="top-margin">
        <label>
            <h4>Vehicle</h4>
            <input type="text" placeholder="Year, Make, Model, Engine, Transmission, Trim">
        </label>
        <div class="grid-block">
            <div class="small-12 medium-6 grid-content">
                <label>
                    <h4>Name</h4>
                    <input type="text" placeholder="Your name">
                </label>
            </div>
            <div class="small-12 medium-6 grid-content">
                <label>
                    <h4>Email</h4>
                    <input type="text" placeholder="someone@somewhe.re">
                </label>
            </div>
            <div class="small-12 medium-6 grid-content">
                <label>
                    <h4>Phone</h4>
                    <input type="text" placeholder="555-1212">
                </label>
            </div>
            <div class="small-12 medium-6 grid-content">
                <label>
                    <h4>Home Address</h4>
                    <input type="text" placeholder="Your home address">
                </label>
            </div>
            <div class="small-12 medium-6 grid-content">
                <label>
                    <h4>City</h4>
                    <input type="text" placeholder="Your town or city">
                </label>
            </div>
        </div>

        <hr>

        <h4>Please choose Service(s) from the following:</h4>

        <div class="grid-block">

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Brakes
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input id="checkbox1" type="checkbox"><label for="checkbox1">Brakes</label></li>
                                <li><input id="checkbox2" type="checkbox"><label for="checkbox2">Rotors</label></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Suspension
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input id="checkbox3" type="checkbox"><label for="checkbox3">Tie rods</label></li>
                                <li><input id="checkbox4" type="checkbox"><label for="checkbox4">Strut</label></li>
                                <li><input id="checkbox5" type="checkbox"><label for="checkbox5">Sway bar linkage</label></li>
                                <li><input id="checkbox6" type="checkbox"><label for="checkbox6">Control arm</label></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Electrical
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input id="checkbox7" type="checkbox"><label for="checkbox7">Alternator</label></li>
                                <li><input id="checkbox8" type="checkbox"><label for="checkbox8">Starter</label></li>
                                <li><input id="checkbox9" type="checkbox"><label for="checkbox9">Battery</label></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Fuel system
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input id="checkbox10" type="checkbox"><label for="checkbox10">Fuel pump</label></li>
                                <li><input id="checkbox11" type="checkbox"><label for="checkbox11">Fuel filter</label></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Pumps & pulleys
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input id="checkbox12" type="checkbox"><label for="checkbox12">Serpentine belt</label></li>
                                <li><input id="checkbox13" type="checkbox"><label for="checkbox13">Radiator</label></li>
                                <li><input id="checkbox14" type="checkbox"><label for="checkbox14">Water pump</label></li>
                                <li><input id="checkbox15" type="checkbox"><label for="checkbox15">Power steering hose</label></li>
                                <li><input id="checkbox16" type="checkbox"><label for="checkbox16">Transmission service</label></li>
                                <li><input id="checkbox17" type="checkbox"><label for="checkbox17">Differential fluid flush</label></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Plugs & sensors
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input id="checkbox18" type="checkbox"><label for="checkbox18">Spark plugs</label></li>
                                <li><input id="checkbox19" type="checkbox"><label for="checkbox19">Oxygen sensor</label></li>
                                <li><input id="checkbox20" type="checkbox"><label for="checkbox20">Camshaft sensor</label></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Inspection
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><input type="radio" name="inspection" id="radio21" value="prepurchase">
                                    <label for="radio21">Prepurchase</label>
                                </li>
                                <li><input type="radio" name="inspection" id="radio22" value="insurance">
                                    <label for="radio22">Insurance</label>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>


            <div class="grid-content medium-6 large-4">
                <div class="card">
                    <div class="card-divider">
                        Other
                    </div>
                    <div class="card-section">
                        <section class="block-list">
                            <ul>
                                <li><textarea rows="4" cols="50" placeholder="Describe another service type"></textarea></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>

        </div>
        <p>
            <a class="large button success" zf-open="work-order-opened-notify"><img zf-iconic="" icon="circle-check" size="small">Save</a>


        </p>

    </form>
</div>

<zf-notification-static id="work-order-opened-notify" title="Work Order accepted" position="bottom-right" autoclose="3000">
    <p>We'll do the work!</p>
</zf-notification-static>
